node_modules
.env
dist
*.log
.venv

**/dist
apps/view/dist
apps/api/prisma/seeds/**/*.js
apps/api/prisma/seeds/**/*.d.ts
apps/api/prisma/seeds/**/*.js.map
apps/api/prisma/seeds/**/*.d.ts.map
apps/api/prisma/seed.d.ts.map

blis_requirements.txt
Senior Frontend Engineer Blis_AI.pdf
